
@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Pangolin&display=swap');

body{
    background-image: url(img/punk_background.jpg);
    margin: 0 auto;
    max-width: 1200px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
#title{
    font-family: frijole, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 44px;
    background-color: darkslategrey;
    color: goldenrod;
    padding: 20px;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 15px;
}
#description{
    background-color:  darkslategrey;
    color: goldenrod;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 15px;
}
fieldset{
    background-color:  darkslategrey;
    color: goldenrod;
    margin: 20px auto; 
    width: 800px;
    border-radius: 15px;
}
fieldset p{
    text-align: center;
}
legend{
    font-family: 'Pangolin', cursive;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
    background-color:#487a7a;
    border: 4px solid #fff;
    border-radius: 15px;
    margin: 10px;
}
ul{
    list-style-type: none;
}
li{
    padding: 10px;
    display: block;
}
#comment{
    display: block;
}
label[for="name"], label[for="email"], label[for="phone"], label[for="age"]{
    display: inline-block;
    padding: 10px 15px 15px 30px;
    width: 100px;
    text-align: right;
    font-size: 20px;
    
}
input[type="text"], input[type="email"], input[type="tel"], input[type="number"]{
    width: 400px;
    height: 30px;
    padding: 0 10px;
    font-size: 18px;
    border-radius: 15px;
}
label[for="punk_style"]{
    margin: 0 0 0 30px;
    font-size: 20px;
    text-align: right;
}
select{
    font-size: 20px;
    margin: 10px auto;

}
section{
    background-color: #487a7a;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
}
section p{
    color: #fff;
    text-align: left;
    padding-left: 50px;
    font-size: 24px;
}
section.comments{
    padding: 30px;
    border-radius: 15px;
}
.comments input[type="submit"]{
    margin: 20px 0 10px 0;
    background-color: darkslategray;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    border: 4px solid #fff;
}
textarea{
    border-radius: 15px;
}
textarea::placeholder{
    padding: 10px;
    font-size: 18px;
}