
@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Pangolin&display=swap');

input:focus, textarea:focus, select:focus{
    outline: none;
    }

body{
    background-image: url(img/punk_background.jpg);
    margin: 0 auto;
    max-width: 1200px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#title{
    font-family: frijole, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 44px;
    background-color: darkslategrey;
    color: #f2efbc;
    padding: 20px;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 15px;
}
#description{
    background-color:  darkslategrey;
    color: #f2efbc;
    font-size: 24px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 15px;
}
fieldset.contact{
    background-color:  darkslategrey;
    text-align: center;
    color: #f2efbc;
    margin: 30px auto; 
    width: 80%;
    border-radius: 15px;
    position: relative;  
}
fieldset.contact p{
    font-size: 16px;
    margin: 0 auto;
    position: absolute;
    top: 28px;
    left: 140px;
}
.contact ul{
    list-style-type: none;
}
.contact li{
    text-align: right;
    width: auto;
    min-width: 300px;
    padding-right: 25%
}
fieldset{
    background-color:  darkslategrey;
    text-align: left;
    color: #f2efbc;
    margin: 30px auto; 
    width: 80%;
    border-radius: 15px; 
}
fieldset p{
    padding-left: 5%;
}
ul{
    list-style-type: none;
}
li{
    text-align: left;
    margin: 10px 0;
    font-size: 24px; 
}
li label{
    line-height: .2em;
    color: #fafaf8;
}
legend{
    font-family: 'Pangolin', cursive;
    font-size: 24px;
    font-weight: bolder;
    padding: 5px 10px;
    margin: 5px;
    background-color:#1c3030;
    border: 4px solid #fff;
    border-radius: 15px;
    text-align: left;
}
select{
    font-size: 18px;
}
#comment{
    display: block;
    color: #1c3030;
}
input[type="radio"]{
    margin: 10px;
    vertical-align: text-bottom;
}
input:required{
    background-color: #fff;
}
input:required:invalid{
border-right: 4px solid #fa0202;
}

input:focus::placeholder {
  color: transparent;
}
input[type="checkbox"]{
    vertical-align: top
}
label[for="name"], label[for="email"], label[for="phone"], label[for="age"]{
    display: inline-block;
    padding: 10px 15px 15px 30px;
    width: px;
    text-align: left;
    font-size: 20px;    
}
input[type="text"], input[type="email"], input[type="tel"], input[type="number"]{
    width: 400px;
    height: 30px;
    padding: 0 10px;
    font-size: 18px;
    border-radius: 15px;
}
label[for="punk_style"]{
    margin: 0 0 0 30px;
    font-size: 22px;
    text-align: right;
}
input[type="text"]:valid, input[type="email"]:valid, input[type="tel"]:valid, input[type="number"]:valid{
    border: 4px solid #06a701;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus{
    border: 4px solid #91f7f7;
    font-size: 24px;
    width: 75%;
    height: 1.5em;
}
section{
    background-color: #487a7a;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
}
section p{
    color: #fff;
    font-size: 24px;
}
section.comments{
    padding: 30px;
    border-radius: 15px;
}
.comments input[type="submit"]{
    margin: 20px 0 10px 0;
    background-color: darkslategray;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    border: 4px solid #fff;
}
.comments label[for="comment"]{
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    color: #fff;
}

textarea{
    border-radius: 15px;
    width: 80%;
    height: 200px;
    font-size: 18px;
    padding: 15px;

}

footer{
       background-color: #487a7a;
    border-radius: 15px;
    padding: 10px;
    margin: 15px auto; 
    width: 80%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    text-align: center;
    
}

                            /* /////// SCREEN SIZE ///////*/
@media screen and (max-width: 1140px){
    #title{
        font-size: 36px;
    }
}
@media screen and (max-width: 940px){
    #title{
        font-size: 30px;
    }
    fieldset{
        width: 80%;
    }
}
@media screen and (max-width: 805px){
     #title{
        font-size: 24px;
    }  
    label[for="name"], label[for="email"], label[for="phone"], label[for="age"]{
        text-align: left;
        padding: 10px 15px 15px 15px;
        width: 50px;
    }
}
@media screen and (max-width: 605px ){
    fieldset{
        margin: 20px auto;
        width: 80%;
    }
    input[type="text"], input[type="email"], input[type="tel"], input[type="number"]{
        width: 80%;

    } 

    label[for="punk_style"]{
        margin: 10px 0 10px 15px;
        font-size: 16px;
    }
    select{
        font-size: 16px;
        margin: 10px 0 10px 15px;
    }
    section ul{
        width: 80%;
    }
    .comments{
        width: 80%;

    }
    section p{
        padding-left: 50px;
        font-size: 18px;
        width: 80%;
    }
    #comment{
        width: 80%;
    }
}   
@media screen and (max-width: 480px){
    fieldset.contact{
    background-color:  darkslategrey;
    text-align: center;
    color: #f2efbc;
    margin: 30px auto; 
    width: 80%;
    border-radius: 15px;
    position: relative;  
    }
    fieldset.contact p{
        font-size: 16px;
        margin: 0 auto;
        position: absolute;
        top: 50px;
        left: 7px;
    }
    .contact ul{
        list-style-type: none;
    }
    .contact li{
        text-align: left;
        width: auto;
        min-width: 390px;
        padding-right: 15%;
    }
    input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus{
    border: 4px solid #91f7f7;
    font-size: 24px;
    width: 90%;
    height: 1.5em;
}


}
